{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    Decision
{% endblock %}

{% block content %}
    <div class="wrapper textbox">
        <p>
            Consider two economic programs A and B such that the <b>lowest income individual</b> has
            a <b>higher income</b> in program A than in program B.
            <br><br>
            <u><b>Principle</b></u>: In any such situation, <b>program A</b> with a higher income for the lowest income individual should be chosen.
        </p>
    </div>

    <div class="wrapper attentionbox">
            {% formfield player.axiom_rawls %}
    </div>

    <button class="otree-btn-next btn btn-primary">Submit decision</button>

{% endblock %}


