{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>


<script>
Highcharts.chart('container', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Income according to income programs A and B'
  },
  xAxis: {
    categories: ['Ind. 1', 'Ind. 2', 'Ind. 3', 'Ind. 4', 'Ind. 5', 'Ind. 6', 'Ind. 7', 'Ind. 8', 'Ind. 9', 'Ind. 10']
  },
  yAxis: {
    title: {
        text: 'Income'
    },
  },
  plotOptions: {
        series: {
            enableMouseTracking: false
        }
  },
  exporting: {
    enabled: false
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'Program A',
    data: [25, 40, 40, 40, 40, 40, 40, 40, 40, 40]
  }, {
    name: 'Program B',
    data: [30, 30, 30, 30, 30, 30, 30, 30, 30, 30]
  }]
});
</script>
{% endblock %}

{% block title %}
    Instructions
{% endblock %}


{% block content %}
    <div class="wrapper textbox">
        <p>
            In this stage of the experiment you will be asked to <b>choose</b> between
            <b>two different income distributions</b>, i.e. income distributions, where money is divided
            between <b>10 randomly drawn individuals</b>.
        </p>
        <p>
            In particular, we will explicitly present to you a pair of income programs, A and B,
            using <b>bar charts</b>. For each <b>individual</b>, you will see two bars.
            The <b>first bar</b> (in blue) for each individual corresponds to the income that this individual would
            receive <b>under program A</b>. Respectively, the <b>second bar</b> (in black)
            corresponds to the income that the same individual would receive <b>under program B</b>.
            <br><br>
            Your task is to <b>choose</b> either <b>program A or program B</b>, depending on which of the
            programs generates a more preferable distribution of money over the ten other individuals
            (not involving yourself).
         </p>
    </div>
    <div class="wrapper textbox">
        <p>
            <b><u>Here is an example:</u></b>
        </p>
        <p>
            Consider the following income programs A and B depicted in the bar charts below.
            The <b>first bar</b> for each individual corresponds to the income that this individual would
            receive <b>under program A</b>. Respectively, the <b>second bar</b> for each individual
            corresponds to the income that the same individual would receive <b>under program B</b>.
        </p>
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
    </div>
    <div class="wrapper attentionbox">
        <p>
            <br>
            You will then have <b>two options</b> to choose from. <br><br>
            The first option is <b>"I want program A to be implemented."</b>
            You should choose this option, if you think that distribution A is preferable out of the two distributions
            presented to you.
            <br><br>
            The second option is <b>"I want program B to be implemented."</b>
            You should choose this option, if you think that distribution B is preferable out of the two distributions
            presented to you.
            <br><br>
            Your distribution choices are <b>consequential</b>. Specifically, we will implement an income distribution
            for a group of 10 randomly drawn individuals based on your choices.
        </p>
    </div>
    <div class="wrapper textbox">
        <p>
            <b><u>This is how it works:</u></b>
        </p>
        <p>
            At the end of the experiment, a <b>random mechanism</b> will determine which of your decisions is chosen
            for implementation. Each decision in this stage can be chosen for implementation. You should <b>always
            choose</b> the option that you <b>actually prefer</b>, because this is the only way to increase the chance
            that your preferred option is implemented.
            <br><br>
            If you chose <b>program A</b> in the randomly drawn pair of income distributions, then program A from
            this pair will be implemented.
            <br><br>
            If you chose <b>program B</b> in the randomly drawn pair of income distributions, then program B from
            this pair will be implemented.
        </p>
    </div>

    <button class="otree-btn-next btn btn-primary">Continue</button>

{% endblock %}
